  body {
    padding: 50px 100px;
  }

  .title {
    font-size: 34px;
    line-height: 2;
  }


  .radio-btn label{
    margin-left: 20px;
  }

  .text,
  .checkbox{

    display: flex;
    flex-direction: column;

    margin-top: 50px;
    width: 200px;
  }